.buttonHotelMap {
    background-color: #19651b;
    border: none;
    color: white;
    padding: 5px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 6px;
    cursor: pointer;
  }
.buttonHotelNoMap {
    background-color: #e95858;
    border: none;
    color: white;
    padding: 5px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 6px;
    cursor: pointer;
  }
  .wrap {
    margin: 10px 20px;
}
.submitButton {
    background-color: rgb(27, 100, 209);
    border: none;
    border-radius: 3px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px 15px;
}
.submitButton:hover { 
    cursor: pointer;
}
.submitButton:disabled { 
    cursor: inherit;
    background-color:  rgb(174, 192, 219);
}
.deleteButton {
    background-color: rgb(240, 72, 72);
    border: none;
    border-radius: 3px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px 5px;
}
.deleteButton:hover { 
    cursor: pointer;
}
.deleteButton:disabled { 
    cursor: inherit;
    background-color:  rgb(255, 159, 159);
}
.wrap>form input {
    font-family: inherit;
    /* width: 100%; */
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    /* display: block; */
    /* padding: 0.9rem 0.7rem; */
    padding: 3px;
    /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); */
    border: 1px solid gray;
    font-size: 12px;
    color: #4A4A4A;
    /* text-indent: 40px; */
}