.bookings {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  min-width: 90%;
}

.bookingsName {
  font-size: 12px;
}

.bookings td,
.bookings th {
  border: 1px solid #ddd;
  padding: 8px;
}

.bookings tr:nth-child(even) {
  background-color: #f2f2f2;
}

.bookings tr:hover {
  background-color: #ddd;
}

.bookings th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: #2c87d3;
  color: white;
}

.bookings span {
  color: rgb(63, 49, 253);
  border-radius: 6px;
  padding: 5px 15px;
}

.bookings span:hover {
  text-decoration: underline;
  background-color: #f3f3f3;
  cursor: pointer;
}