@theme {
  --background-color-primary: var(--rs-color-background-primary);
  --background-color-primary-faded: var(--rs-color-background-primary-faded);
  --border-color-primary: var(--rs-color-border-primary);
  --border-color-primary-faded: var(--rs-color-border-primary-faded);
  --text-color-primary: var(--rs-color-foreground-primary);
  --background-color-critical: var(--rs-color-background-critical);
  --background-color-critical-faded: var(--rs-color-background-critical-faded);
  --border-color-critical: var(--rs-color-border-critical);
  --border-color-critical-faded: var(--rs-color-border-critical-faded);
  --text-color-critical: var(--rs-color-foreground-critical);
  --background-color-warning: var(--rs-color-background-warning);
  --background-color-warning-faded: var(--rs-color-background-warning-faded);
  --border-color-warning: var(--rs-color-border-warning);
  --border-color-warning-faded: var(--rs-color-border-warning-faded);
  --text-color-warning: var(--rs-color-foreground-warning);
  --background-color-positive: var(--rs-color-background-positive);
  --background-color-positive-faded: var(--rs-color-background-positive-faded);
  --border-color-positive: var(--rs-color-border-positive);
  --border-color-positive-faded: var(--rs-color-border-positive-faded);
  --text-color-positive: var(--rs-color-foreground-positive);
  --background-color-neutral: var(--rs-color-background-neutral);
  --background-color-neutral-faded: var(--rs-color-background-neutral-faded);
  --border-color-neutral: var(--rs-color-border-neutral);
  --border-color-neutral-faded: var(--rs-color-border-neutral-faded);
  --text-color-neutral: var(--rs-color-foreground-neutral);
  --text-color-neutral-faded: var(--rs-color-foreground-neutral-faded);
  --background-color-disabled: var(--rs-color-background-disabled);
  --background-color-disabled-faded: var(--rs-color-background-disabled-faded);
  --border-color-disabled: var(--rs-color-border-disabled);
  --text-color-disabled: var(--rs-color-foreground-disabled);
  --background-color-elevation-base: var(--rs-color-background-elevation-base);
  --background-color-elevation-raised: var(--rs-color-background-elevation-raised);
  --background-color-elevation-overlay: var(--rs-color-background-elevation-overlay);
  --background-color-page: var(--rs-color-background-page);
  --background-color-page-faded: var(--rs-color-background-page-faded);
  --color-brand: var(--rs-color-brand);
  --color-white: var(--rs-color-white);
  --color-black: var(--rs-color-black);
  --text-color-on-primary: var(--rs-color-on-background-primary);
  --text-color-on-critical: var(--rs-color-on-background-critical);
  --text-color-on-warning: var(--rs-color-on-background-warning);
  --text-color-on-positive: var(--rs-color-on-background-positive);
  --text-color-on-neutral: var(--rs-color-on-background-neutral);
  --text-color-on-brand: var(--rs-color-on-brand);
  --radius-small: var(--rs-radius-small);
  --radius-medium: var(--rs-radius-medium);
  --radius-large: var(--rs-radius-large);
  --spacing-0: 0px;
  --spacing-x1: var(--rs-unit-x1);
  --spacing-x2: var(--rs-unit-x2);
  --spacing-x3: var(--rs-unit-x3);
  --spacing-x4: var(--rs-unit-x4);
  --spacing-x5: var(--rs-unit-x5);
  --spacing-x6: var(--rs-unit-x6);
  --spacing-x7: var(--rs-unit-x7);
  --spacing-x8: var(--rs-unit-x8);
  --spacing-x9: var(--rs-unit-x9);
  --spacing-x10: var(--rs-unit-x10);
  --shadow-raised: var(--rs-shadow-raised);
  --shadow-overlay: var(--rs-shadow-overlay);
  --breakpoint-m: 660px;
  --breakpoint-l: 900px;
  --breakpoint-xl: 1280px;
}
