[data-rs-theme="productTheme"] {
  --rs-font-family-title: Inter, BlinkMacSystemFont, -apple-system, Roboto,
    Helvetica, Arial, sans-serif;
  --rs-font-family-body: Inter, BlinkMacSystemFont, -apple-system, Roboto,
    Helvetica, Arial, sans-serif;
  --rs-font-weight-regular: 400;
  --rs-font-weight-medium: 500;
  --rs-font-weight-semibold: 600;
  --rs-font-weight-bold: 700;
  --rs-font-weight-extrabold: 800;
  --rs-font-weight-black: 900;
  --rs-font-size-title-1: 6rem;
  --rs-line-height-title-1: 6.25rem;
  --rs-font-family-title-1: var(--rs-font-family-title);
  --rs-font-weight-title-1: var(--rs-font-weight-extrabold);
  --rs-letter-spacing-title-1: normal;
  --rs-font-size-title-2: 5rem;
  --rs-line-height-title-2: 5.25rem;
  --rs-font-family-title-2: var(--rs-font-family-title);
  --rs-font-weight-title-2: var(--rs-font-weight-extrabold);
  --rs-letter-spacing-title-2: normal;
  --rs-font-size-title-3: 4rem;
  --rs-line-height-title-3: 4.25rem;
  --rs-font-family-title-3: var(--rs-font-family-title);
  --rs-font-weight-title-3: var(--rs-font-weight-extrabold);
  --rs-letter-spacing-title-3: normal;
  --rs-font-size-title-4: 3.5rem;
  --rs-line-height-title-4: 3.75rem;
  --rs-font-family-title-4: var(--rs-font-family-title);
  --rs-font-weight-title-4: var(--rs-font-weight-bold);
  --rs-letter-spacing-title-4: normal;
  --rs-font-size-title-5: 3rem;
  --rs-line-height-title-5: 3.25rem;
  --rs-font-family-title-5: var(--rs-font-family-title);
  --rs-font-weight-title-5: var(--rs-font-weight-bold);
  --rs-letter-spacing-title-5: normal;
  --rs-font-size-title-6: 2.25rem;
  --rs-line-height-title-6: 2.5rem;
  --rs-font-family-title-6: var(--rs-font-family-title);
  --rs-font-weight-title-6: var(--rs-font-weight-bold);
  --rs-letter-spacing-title-6: normal;
  --rs-font-size-featured-1: 2rem;
  --rs-line-height-featured-1: 2.5rem;
  --rs-font-family-featured-1: var(--rs-font-family-body);
  --rs-letter-spacing-featured-1: normal;
  --rs-font-size-featured-2: 1.5rem;
  --rs-line-height-featured-2: 2rem;
  --rs-font-family-featured-2: var(--rs-font-family-body);
  --rs-letter-spacing-featured-2: normal;
  --rs-font-size-featured-3: 1.25rem;
  --rs-line-height-featured-3: 1.75rem;
  --rs-font-family-featured-3: var(--rs-font-family-body);
  --rs-letter-spacing-featured-3: normal;
  --rs-font-size-body-1: 1.125rem;
  --rs-line-height-body-1: 1.75rem;
  --rs-font-family-body-1: var(--rs-font-family-body);
  --rs-letter-spacing-body-1: normal;
  --rs-font-size-body-2: 1rem;
  --rs-line-height-body-2: 1.5rem;
  --rs-font-family-body-2: var(--rs-font-family-body);
  --rs-letter-spacing-body-2: normal;
  --rs-font-size-body-3: 0.875rem;
  --rs-line-height-body-3: 1.25rem;
  --rs-font-family-body-3: var(--rs-font-family-body);
  --rs-letter-spacing-body-3: normal;
  --rs-font-size-caption-1: 0.75rem;
  --rs-line-height-caption-1: 1rem;
  --rs-font-family-caption-1: var(--rs-font-family-body);
  --rs-letter-spacing-caption-1: normal;
  --rs-font-size-caption-2: 0.625rem;
  --rs-line-height-caption-2: 0.75rem;
  --rs-font-family-caption-2: var(--rs-font-family-body);
  --rs-letter-spacing-caption-2: normal;
  --rs-unit-base: 4px;
  --rs-unit-x1: 4px;
  --rs-unit-x2: 8px;
  --rs-unit-x3: 12px;
  --rs-unit-x4: 16px;
  --rs-unit-x5: 20px;
  --rs-unit-x6: 24px;
  --rs-unit-x7: 28px;
  --rs-unit-x8: 32px;
  --rs-unit-x9: 36px;
  --rs-unit-x10: 40px;
  --rs-radius-small: 4px;
  --rs-radius-medium: 8px;
  --rs-radius-large: 12px;
  --rs-color-brand: #5a58f2;
  --rs-color-white: #ffffff;
  --rs-color-black: #000000;
  --rs-color-on-background-primary: #ffffff;
  --rs-color-on-background-critical: #ffffff;
  --rs-color-on-background-warning: #000000;
  --rs-color-on-background-positive: #ffffff;
  --rs-color-on-brand: #ffffff;
  --rs-color-rgb-white: 255, 255, 255;
  --rs-color-rgb-black: 0, 0, 0;
  --rs-duration-rapid: 100ms;
  --rs-duration-fast: 200ms;
  --rs-duration-medium: 300ms;
  --rs-duration-slow: 400ms;
  --rs-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --rs-easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
  --rs-easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
  --rs-shadow-raised: 0px 1px 5px -4px rgba(0, 0, 0, 0.5),
    0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  --rs-shadow-overlay: 0px 5px 10px 0px rgba(0, 0, 0, 0.05),
    0px 15px 25px 0px rgba(0, 0, 0, 0.07);
  --rs-viewport-m-min: 660;
  --rs-viewport-l-min: 900;
  --rs-viewport-xl-min: 1280;
}

[data-rs-theme="productTheme"][data-rs-color-mode="light"] {
  --rs-color-background-primary: #5a58f2;
  --rs-color-background-primary-faded: #ecebfe;
  --rs-color-border-primary: #3b38ed;
  --rs-color-border-primary-faded: #dedcfb;
  --rs-color-foreground-primary: #4f4cf0;
  --rs-color-background-critical: #e22c2c;
  --rs-color-background-critical-faded: #fdeded;
  --rs-color-border-critical: #bf2424;
  --rs-color-border-critical-faded: #f3dad6;
  --rs-color-foreground-critical: #c42525;
  --rs-color-background-warning: #facc15;
  --rs-color-background-warning-faded: #fffae9;
  --rs-color-border-warning: #cfa90f;
  --rs-color-border-warning-faded: #ece2c4;
  --rs-color-foreground-warning: #7b6305;
  --rs-color-background-positive: #118850;
  --rs-color-background-positive-faded: #edfdf5;
  --rs-color-border-positive: #0c6e40;
  --rs-color-border-positive-faded: #d2eddb;
  --rs-color-foreground-positive: #0d7544;
  --rs-color-background-neutral: #dfe2ea;
  --rs-color-background-neutral-faded: #f3f3f5;
  --rs-color-border-neutral: #0000001f;
  --rs-color-border-neutral-faded: #00000014;
  --rs-color-foreground-neutral: #1a1a1a;
  --rs-color-foreground-neutral-faded: #5b667e;
  --rs-color-background-disabled: #eceef2;
  --rs-color-background-disabled-faded: #f5f6f9;
  --rs-color-border-disabled: #dfe2ea;
  --rs-color-foreground-disabled: #c6ccda;
  --rs-color-background-elevation-base: #ffffff;
  --rs-color-background-elevation-raised: #ffffff;
  --rs-color-background-elevation-overlay: #ffffff;
  --rs-color-background-page: #ffffff;
  --rs-color-background-page-faded: #f9f9fb;
  --rs-color-rgb-background-primary: 90, 88, 242;
  --rs-color-rgb-background-primary-faded: 236, 235, 254;
  --rs-color-rgb-background-critical: 226, 44, 44;
  --rs-color-rgb-background-critical-faded: 253, 237, 237;
  --rs-color-rgb-background-warning: 250, 204, 21;
  --rs-color-rgb-background-warning-faded: 255, 250, 233;
  --rs-color-rgb-background-positive: 17, 136, 80;
  --rs-color-rgb-background-positive-faded: 237, 253, 245;
  --rs-color-on-background-neutral: #000000;
  --rs-color-rgb-background-neutral: 223, 226, 234;
  --rs-color-rgb-background-neutral-faded: 243, 243, 245;
  --rs-color-rgb-background-disabled: 236, 238, 242;
  --rs-color-rgb-background-disabled-faded: 245, 246, 249;
  --rs-color-rgb-background-elevation-base: 255, 255, 255;
  --rs-color-rgb-background-elevation-raised: 255, 255, 255;
  --rs-color-rgb-background-elevation-overlay: 255, 255, 255;
  --rs-color-rgb-background-page: 255, 255, 255;
  --rs-color-rgb-background-page-faded: 249, 249, 251;
}

[data-rs-theme="productTheme"][data-rs-color-mode="dark"] {
  --rs-color-background-primary: #524fea;
  --rs-color-background-primary-faded: #252544;
  --rs-color-border-primary: #8c8bf3;
  --rs-color-border-primary-faded: #323164;
  --rs-color-foreground-primary: #8b8af7;
  --rs-color-background-critical: #d02626;
  --rs-color-background-critical-faded: #3e1f1f;
  --rs-color-border-critical: #f46969;
  --rs-color-border-critical-faded: #5a2e29;
  --rs-color-foreground-critical: #f36a6a;
  --rs-color-background-warning: #f1c512;
  --rs-color-background-warning-faded: #2c271f;
  --rs-color-border-warning: #b4920a;
  --rs-color-border-warning-faded: #453c1e;
  --rs-color-foreground-warning: #b4920c;
  --rs-color-background-positive: #14784a;
  --rs-color-background-positive-faded: #1f2a23;
  --rs-color-border-positive: #21ab6b;
  --rs-color-border-positive-faded: #264431;
  --rs-color-foreground-positive: #18ab66;
  --rs-color-background-neutral: #494f60;
  --rs-color-background-neutral-faded: #222835;
  --rs-color-border-neutral: #ffffff24;
  --rs-color-border-neutral-faded: #ffffff14;
  --rs-color-foreground-neutral: #fff;
  --rs-color-foreground-neutral-faded: #c0c6d6;
  --rs-color-background-disabled: #1e212a;
  --rs-color-background-disabled-faded: #171921;
  --rs-color-border-disabled: #262a34;
  --rs-color-foreground-disabled: #434959;
  --rs-color-background-elevation-base: #15171e;
  --rs-color-background-elevation-raised: #191b23;
  --rs-color-background-elevation-overlay: #1c1f28;
  --rs-color-background-page: #0f1116;
  --rs-color-background-page-faded: #111319;
  --rs-color-rgb-background-primary: 82, 79, 234;
  --rs-color-rgb-background-primary-faded: 37, 37, 68;
  --rs-color-rgb-background-critical: 208, 38, 38;
  --rs-color-rgb-background-critical-faded: 62, 31, 31;
  --rs-color-rgb-background-warning: 241, 197, 18;
  --rs-color-rgb-background-warning-faded: 44, 39, 31;
  --rs-color-rgb-background-positive: 20, 120, 74;
  --rs-color-rgb-background-positive-faded: 31, 42, 35;
  --rs-color-on-background-neutral: #ffffff;
  --rs-color-rgb-background-neutral: 73, 79, 96;
  --rs-color-rgb-background-neutral-faded: 34, 40, 53;
  --rs-color-rgb-background-disabled: 30, 33, 42;
  --rs-color-rgb-background-disabled-faded: 23, 25, 33;
  --rs-color-rgb-background-elevation-base: 21, 23, 30;
  --rs-color-rgb-background-elevation-raised: 25, 27, 35;
  --rs-color-rgb-background-elevation-overlay: 28, 31, 40;
  --rs-color-rgb-background-page: 15, 17, 22;
  --rs-color-rgb-background-page-faded: 17, 19, 25;
}
